@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  scroll-behavior: smooth;
  /* border: 1px solid blue; */
}

body {
  font-family: montserrat,'Inter', sans-serif;
  background: var(--bg-background-gradient);
  color: var(--text-color);
  transition: background-color 0.4s, color 0.3s;
}

:root {
  --bg-color: #FFFFFF;
  --text-color: #2E3A45;
  --bg-gradient-start: #F8F9FA;
  --bg-gradient-end: #EDEFF1;
  --bg-background-gradient: linear-gradient(135deg, var(--bg-gradient-start), var(--bg-gradient-end));
  --highlight-color: #007AFF;
  --highlight-box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 
  0 0 30px rgba(0, 255, 255, 0.4), 
  0 0 40px rgba(0, 255, 255, 0.6), 
  0 0 50px rgba(0, 255, 255, 0.8);
}

.dark {
  --bg-color: #1C1C1E;
  --text-color: #E8E9EB;
  --bg-gradient-start: #1C1C1E;
  --bg-gradient-end: #2B2B2D;
  --bg-background-gradient: linear-gradient(135deg, #1C1C1E, #2B2B2D);
  --highlight-color: #FF007A;
  --highlight-box-shadow: 0 0 20px rgba(255, 0, 122, 0.1), 
  0 0 30px rgba(255, 0, 122, 0.4), 
  0 0 40px rgba(255, 0, 122, 0.6), 
  0 0 50px rgba(255, 0, 122, 0.8);
}

.app-container {
  margin: 0 auto;
  padding: 20px;
  /* max-width: 1200px; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.header-title-roles{
  line-height: 1.5;
  font-size: 1.8rem;
  
  h3{
    margin-bottom: 5px;
  }
}

.blur-card {
  /* max-width: 1400px; */
  width: 95%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  padding: 40px;
  box-shadow: var(--highlight-box-shadow);
}

.header-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  letter-spacing: -5px;
  line-height: 1;
  background: -webkit-linear-gradient(25deg, var(--highlight-color), var(--bg-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 1px var(--text-color);
}

.header-title-roles h3 {
  text-align: left;
  font-size: 1.2rem;
  color: var(--text-color);
  text-shadow: 2px 1px 10px var(--highlight-color);
  font-weight: bold;
}

.navbar a {
  font-size: 1.2rem;
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}

.main-content {
  padding: 20px 0;
}

.section-title {
  font-size: 1rem;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  font-weight: 600;
  color: var(--text-color);
  text-align: left;
  text-transform: uppercase;
}

.section-title::after {
  
  content: '';
  display: block;
  width: 90%;
  height: 3px;
  background: var(--highlight-color);
  margin: 10px auto 0;
}

.section-description,
.section-content {
  margin-bottom: 40px;
}

.portfolio-summary,
.projects-section,
.education-section,
.technical-skills-section,
.work-experience-section {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  background: var(--bg-color);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.skill-badge {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--highlight-color);
  color: #fff;
  margin: 5px;
}

.work-experience-section .experience-card {
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.experience-position {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.experience-company {
  font-size: 1rem;
  color: #555;
}

.experience-duration {
  font-size: 0.9rem;
  color: #888;
}

.experience-responsibilities {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #eaeaea;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.footer .social-link {
  color: var(--text-color);
  text-decoration: none;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.toggle-input {
  display: none;
}

.toggle-slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
}

.toggle-slider::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.2s;
}

input:checked + .toggle-slider::before {
  transform: translateX(25px);
}

/* Media Queries for Fluid Responsive Design */

@media(min-width: 10px){
  .header-title{
    font-size: 1.5rem;
  }
  .header-title-roles h3{
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
@media(min-width: 400px){
  .header-title{
    font-size: 2.8rem;
  }
}

@media(min-width: 564px ){  
  .header-title-roles h3{
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media (min-width: 640px) {
  .header-title {
    font-size: 3.5rem;
  }

  .section-title {
    font-size: 1.2rem;

  }
}

@media (min-width: 768px) {
  .header-title {
    font-size: 5rem;
  }

  .section-title {
    font-size: 1.35rem;
  }
  .header-title-roles{
    font-size: 1rem;
    line-height: 1.2;
  }
}

@media (min-width: 1024px) {
  .header-title {
    font-size: 6rem;
  }

  .section-title {
    font-size: 1.5rem;
  }
  .header-title-roles{
    font-size: 1.3rem;
    line-height: 1.4;
  }
}
